<!-- admin-list.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>Admin List</title>
</head>
<body>
    <h1>Admin List</h1>

    <ul>
        <% admins.forEach(admin => { %>
            <li><%= admin.name %> - <%= admin.user %> - <%= admin.status === 1 ? 'Active' : 'Inactive' %></li>
        <% }); %>
    </ul>
</body>
</html>
