<div class="content-wrapper" style="min-height: 717px">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Analíticas</h1>
        </div>

        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="inicio">Inicio</a></li>
            <li class="breadcrumb-item active">Analíticas</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        import include from '../modules/top.ejs';

        <div class="col-3">
          import include from './modules/bestRoom.ejs';
        </div>

        <div class="col-3">
          import include from './modules/worstRoom.ejs';
        </div>

        <div class="col-6">
          import incude from './modules/sales.ejs';
        </div>

        <div class="col-6">
          import include from './modules/calendar.ejs';
        </div>

        <div class="col-6">
          <div class="col-12">
            import include from './modules/lastUsers.ejs';
          </div>

          <div class="col-12">
            import include from './modules/lastReservations.ejs';
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /.content -->
</div>
