<footer class="main-footer">
  <strong>
    Copyright ©
    <script>
      document.write( new Date().getFullYear());
    </script>
    <a href="" target="_blank">Hotel Backend</a>.
  </strong>
  Todos los derechos reservados.
</footer>
