<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!--=====================================
  LOGO
  ======================================-->
  <a href="index" class="brand-link">
    <img
      src="/img/template/icono.jpg"
      class="brand-image img-circle elevation-3"
      style="opacity: 0.8"
    />

    <span class="brand-text font-weight-light">Hotel Backend</span>
  </a>

  <!--=====================================
  MENÚ
  ======================================-->

  <div class="sidebar">
    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
        <!-- botón Ver sitio -->

        <li class="nav-item">
          <a href="https://reserva-hotel-app-orig-9b6u9lzpa-juanbog19.vercel.app/" class="nav-link active" target="_blank">
            <i class="nav-icon fas fa-globe"></i>

            <p>Ver sitio</p>
          </a>
        </li>

        <!-- Botón página inicio -->

        <li class="nav-item">
          <a href="/index" class="nav-link">
            <i class="nav-icon fas fa-home"></i>

            <p>Inicio</p>
          </a>
        </li>

        <!-- Botón página administradores -->

        <li class="nav-item">
          <a href="/admin/api" class="nav-link">
            <i class="nav-icon fas fa-users-cog"></i>

            <p>Administradores</p>
          </a>
        </li>

        <!-- Botón página banner -->

        <li class="nav-item">
          <a href="/banner/api" class="nav-link">
            <i class="nav-icon far fa-images"></i>
            <p>Banner</p>
          </a>
        </li>

        <!-- Botón página planes -->

        <li class="nav-item">
          <a href="/plan/api" class="nav-link">
            <i class="nav-icon fas fa-shopping-bag"></i>

            <p>Planes</p>
          </a>
        </li>

        <!-- Botón página categorías -->

        <li class="nav-item">
          <a href="/categories/api" class="nav-link">
            <i class="nav-icon fas fa-list-ul"></i>

            <p>Categorías</p>
          </a>
        </li>

        <!-- Botón página habitaciones -->

        <li class="nav-item">
          <a href="/bedroom/api" class="nav-link">
            <i class="nav-icon fas fa-bed"></i>

            <p>Habitaciones</p>
          </a>
        </li>

        <!-- Botón página reservas -->

        <li class="nav-item">
          <a href="/bookings/api" class="nav-link">
            <i class="nav-icon far fa-calendar-alt"></i>

            <p>Reservas</p>
          </a>
        </li>

        <!-- Botón página testimonios -->

        <li class="nav-item">
          <a href="/testimonials/api" class="nav-link">
            <i class="nav-icon fas fa-user-check"></i>

            <p>Testimonios</p>
          </a>
        </li>

        <!-- Botón página usuarios -->

        <li class="nav-item">
          <a href="/users/api" class="nav-link">
            <i class="nav-icon fas fa-users"></i>

            <p>Usuarios</p>
          </a>
        </li>

        <!-- Botón página recorrido -->

        <li class="nav-item">
          <a href="/service/api" class="nav-link">
            <i class="nav-icon fas fa-concierge-bell"></i>

            <p>Servicios</p>
          </a>
        </li>

      </ul>
    </nav>
  </div>
</aside>
