    <script src="/js/administrators.js"></script>
    <script src="/js/banner.js"></script>
    <script src="/js/plans.js"></script>
    <script src="/js/categories.js"></script>
    <script src="/js/bedrooms.js"></script>
    <script src="/js/bookings.js"></script>
    <script src="/js/testimonials.js"></script>
    <script src="/js/users.js"></script>
    <script src="/js/service.js"></script>

  </div>
</body>
</html>