<div class="card card-success card-outline">
  <div class="card-header">
    <h5 class="m-0">Habitación más reservada</h5>
  </div>

  <div class="card-body">
    <img src="" class="img-thumbnail" />

    <h6 class="card-title py-3"></h6>

    <a href="bookings" class="btn btn-success">Ver reservas</a>
  </div>
</div>
